html{
    background-image: linear-gradient(to bottom, white 0%, #facd8a 100%);
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 1000px;
    background-color: white;
    margin-left: 15px auto;

}
a:hover, a:focus {
    font-style: italic;
    color: purple;
}
header h1 {
    font-size: 175%;
    color: maroon;
    text-indent: 30px

}
header h2{
    font-size: 130%;
    color: #800000;
    text-indent: 30px
}
header img {
    float: left;
}
.shadow{
    text-shadow: 2px 2px 2px rgb(128, 0, 0);
}

main {
    clear:left
}